<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../static/css/bootstrap.css" />
		<link rel="stylesheet" href="../static/css/register.css" />
		<link rel="stylesheet" href="../static/css/footer&cbl.css" />
		<link rel="stylesheet" href="../static/css/daohang.css" />
		<script type="text/javascript" src="../static/js/jquery-1.11.3.js" ></script>
		<script type="text/javascript" src="../static/js/bootstrap.js" ></script>
		<script type="text/javascript" src="../static/js/templet.js" ></script>
		<title></title>
	</head>
	<body>
	<div id="main">
		<div class="main">
			<div class="container  ">
				<div class="c2">
					<a href="/thymeleaf/homepage"><span>
						<img src="../static/img/qifeiye.png" />
					</span></a>
					<p>[[${msg}]]</p>
					<<div class="c3-3 clearfix">
						<a href="/thymeleaf/register" type="button" class="btn btn-default btn2">前往新用户注册</a>
						<a href="" type="button" class="btn btn-default btn2">忘记密码？点这里找回</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
	<script type="text/javascript" src="../static/js/hp.js" ></script>
</html>
