<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../static/css/bootstrap.css" />
		<link rel="stylesheet" href="../static/css/daohang.css" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/footer&cbl.css" />
		<script type="text/javascript" src="../static/js/jquery-1.11.3.js" ></script>
		<script type="text/javascript" src="../static/js/bootstrap.js" ></script>
    	<script type="text/javascript" src="../static/jss/index.js"></script>
		<script type="text/javascript" src="../static/js/templet.js" ></script>
		<script type="text/javascript" src="../static/js/hp.js" ></script>
		<title></title>
	</head>
	<body>
	<div id="main">
		<header id="header" data-spy="affix" data-offset-top="70">
			<nav class="navbar-inverse" id="daohang">
				<div class="daohang">
					<div class="navbar-header clearfix">
						<button type="button" class="zd" id="zd" >
							<span class="glyphicon glyphicon-align-justify"></span>
						</button>
						<a href="#" class="navbar-brand"><img src="../static/img/qifeiye.png"/></a>
					</div>
					<div class="collapse navbar-collapse" id="daohangtiao">
						<ul class="nav navbar-nav">
							<li><a href="/thymeleaf/homepage">首页</a></li>
							<li><a href="/thymeleaf/templet">历史加班</a></li>
							<li><a href="/thymeleaf/setmeal">本月加班</a></li>
						</ul>
						<ul class="zcdl nav navbar-nav pull-right">
							<li><a href="/thymeleaf/login">登录</a></li>
							<li><a href="register.html">注册</a></li>
						</ul>
					</div>					
				</div>
				<div id="box">
					<div class="box1 col-sm-2 col-xs-2">
						<span id="X" class="glyphicon glyphicon-remove pull-right" ></span>
					</div>
					<div class="box2 col-sm-10 col-xs-10" >
						<ul id="ul1"class="clearfix">
							<li><a href="homepage.html">首页</a></li>
							<li><a href="templet.html">历史加班</a></li>
							<li><a href="setmeal.html">本月加班</a></li>
						</ul>
						<div id="wd1">
							<ul>
								<li id="fanhui1"><a>返回上一级</a></li>
								<li><a>教程中心</a></li>
								<li><a>建站资讯</a></li>
								<li><a>更新日志</a></li>
							</ul>
						</div>
						<div id="gy1" >
							<ul id="ul2">
								<li id="fanhui2"><a>返回上一级</a></li>
								<li id="gcxx"><a>公司信息<i class="glyphicon glyphicon-menu-right"></i></a></li>
								<li><a>荣誉资质</a></li>
								<li><a>联系客服</a></li>
							</ul>
						</div>
						<div id="gc" >
							<ul >
								<li id="fanhui3"><a>返回上一级</a></li>
								<li><a>公司介绍</a></li>
								<li><a>服务条款</a></li>
								<li><a>法律声明</a></li>
								<li><a>可接受服务</a></li>
								<li><a>免责声明</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<div class="c">
			    <img class="img" src="../static/img/child.jpg"/>
				<div class="video">
					<video autoplay="autoplay" muted="muted" loop="loop">
						<source type="video/webm" src="../static/video/video1.webm"></source>
						<source type="video/mp4" src="../static/video/video1.mp4"></source>
					</video>
				</div>
				<div class="cover">
					<div class="container  cc2">
						<div class="cover2" >
							<div class="co2-1">						
								<p>自己做网站</p>
								<p>简单又省钱</p>
							</div>
							<div class="co2-2">
								<span>引领「响应式自助建站」潮流，每一套模板都是艺术品</span>
							</div>
							<a class="co2-3" href="" >免 费 创 建 账 户</a>
						</div>
					</div>
					<div class="container cc1">
						<div class="cover1 col-lg-6 col-md-6 pull-right" >
							<div class="co1 hide" id="con">
								<!--<p>做一个响应式网站</p>
								<p>让世界更好的了解您</p>-->
								<span>免费统计加工时常<br>让报酬更好的了解您</span>
							</div>
							<div class="co1" id="show"></div>
							<a class="co3" href="" >免 费 创 建 账 户</a>
						</div>
					</div>
					<div class="container cc1">
						<div class="coverA"><a href="">
							<i class="glyphicon glyphicon-chevron-down"></i>
						</a></div>
					</div>
				</div>			
			</div>
		<div class="main">
			<div class="c1">
				<div class="container">
					<h1 class="hh1" style="font-size: 44px;padding-bottom: 20px;">更快，更简单</h1>
					<p class="p1" >采用顶级技术存储加班工时</p>
					<p class="p1" >随时查看努力成果</p>
					<img class="img-responsive" src="../static/img/p1-01.jpg" style="margin:0 auto;"/>
				</div>
			</div>
			<div class="c8">
				<div style="overflow: hidden;margin: 0 auto;">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix" id="c8-1">
						<h1 class="hh1" style="font-size: 36px;padding-bottom: 20px;">始于2020年，已经为超过15万用户提供加班统计服务</h1>
						<p class="p1"  style="font-size: 16px;color: #a9a9a9;">众多用户使用加班网站构建自己的努力王国。也许，您也可以和他们一样出色！</p>
					</div>
				</div>				
			</div>
		<div class="footer">
			<div class="f2">
				<div class="container">
					<hr style="width: 100%;border: none;height: 1px;background-color: #E2E2E2;"/>
					<p>拓展您的业务，展示您的努力，或者只是尝试一下新的想法。 拉近您与互联网的距离！</p>
					<hr style="width: 100%;border: none;height: 1px;background-color: #E2E2E2;"/>
					<p>版权所有 2020-2028 南宁拉布科技 版本: V3.6</p>
				</div>
			</div>
		</div>
		
	
		<ul class="cbl" >
			<li><a href="#">
				<div class="icon d1"><i class="i1"></i><span class="title">在线客服</span></div>
			</a></li>
			<i class="clearfix"></i>
			<li><a href="#">
				<div class="icon d2"><i class="i2"></i><span class="title">4006285729</span></div>
			</a></li>
			<i class="clearfix"></i>
			<li><a  href="#">
				<div class="icon"><i class="i3"></i><span class="title">教程中心</span></div>
			</a></li>
			<i class="clearfix"></i>
			<li ><a  href="#">
				<div class="icon d4" data-toggle="tooltip" data-placement = "left" title="<img src='img/erweima.png'><br/> 关注微信 " data-html="true"><i class="i4"></i></div>
			</a></li>
		</ul>
	</div>
	</body>	
	
</html>
